node_modules
.vercel
.env
.env.local
*.zip
github-upload/
output/
secrets/
!secrets/.gitkeep
mobile-web/
android/.gradle/
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/build/
